:root {
    --primary-color: #3498db;
    --secondary-color: #eec0de;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 16px;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 24px 0;
    text-align: center;
    margin-bottom: 32px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.1rem;
    margin-top: 20px;
}

nav a{
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 16px 48px;
    background: #fff;
    /* margin-bottom: 32px; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section {
    padding: 24px;
}

section h2 {
    margin-bottom: 16px;
    color: var(--primary-color);
}

.about{
    align-self: center;
    display: flex;
}


.about img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--secondary-color);
}

.about p{
    padding: 0 50px;
    align-self: center;
}

.skills {
    display: flex;
}

.achievenment ul {
    padding: 0 12px;
}

.skills .skill {
    flex: 1;
    padding: 16px 48px;
    margin: 0 8px;
    box-shadow: 0 3px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.icon {
    display: flex;
}

.icon i {
    margin-right: calc(var(--spacing-unit) * 2);
}